table tr,td,th {
    border: 1px solid black;
    width: 1000px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    
}

Header{
    
    padding:25px;
    text-align: center;
    font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, blue, green);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
}

.image {
    border-radius: 25px;
    width: 100px;
    height: 100px;
}